.header {
    width: 100%;
    background-color: #cbdfff;
    box-shadow: 0 0 6px 2px rgba(10, 20, 30, 0.3);

    &__container {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}